<h2>Welcome, <%=current_user.name%></h2>

<h3>New secret:</h3>
<form class="" action="/users/<%=current_user.id%>/secrets" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <!-- <input type="hidden" name="secret[user_id]" value="<%=current_user.id%>"> -->
  <textarea name="content" rows="8" cols="40"></textarea>
  <br>
  <input type="submit" value="Create Secret">
</form>

<div class="secrets">
  <h3>Secrets</h3>
  <% @secrets.each do |secret| %>
  <%=secret.content%>
  <%end%>

</div>

<div class="likes">
  <h3>Secrets Liked</h3>
  <% @likes.each do |like| %>
  <%=like.content%>
  <hr>
  <%end%>
</div>
