<h2>this it he secrets index page</h2>
<% @secrets.each do |secret|%>
   <p> <%= secret.content%> </p>
   <p>Liked: <%=secret.likes.count%></p>
   <% if secret.user == current_user %>
      <form action = "/secrets/<%= secret.id %>" method = "post">
  		       <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  			     <input type="hidden" name="_method" value="delete">
  			     <input type = 'submit' value = "Delete Secret">
  		</form>
	 <% end %>
   <% unless secret.users.include?(current_user) %>
        <form class="like" action="/users/<%=current_user.id%>/secrets/<%=secret.id%>/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="submit" name="like" value="Like">
          <hr>
        </form>

    <% else %>
    		<form action = "/likes/<%= Like.where(user: current_user, secret: secret).first.id%>" method = "post">
    		    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    			<input type="hidden" name="_method" value="delete">
    			<input type="submit" name="Unlike" value = "Unlike">
    		</form>
    <%end%>
<%end%>
